<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css'
        '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
    {% block customstyles %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts
    '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block customjs %}{% endblock %}
{% endblock %}
</body>
</html>
