<header class="navbar clearfix" id="header">
    <div class="container">
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-user"></i> My Profile</a></li>
            <li><a href="#"><i class="fa fa-cog"></i> Account Settings</a></li>
            <li><a href="#"><i class="fa fa-eye"></i> Privacy Settings</a></li>
            <li><a href="{{ path('devsoul_blogadmin_security_logout') }}">Logout</a></li>
        </ul>
    </div>
</header>